<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<real>-122.03</real>
	<real>-122.03</real>
	<real>-122.03</real>
	<real>76.519999999999996</real>
	<real>159.21000000000001</real>
	<real>-255.22</real>
	<real>-122.02</real>
	<real>-122.02</real>
	<real>-122.02</real>
	<real>-122.02</real>
	<real>-122.03</real>
	<real>-122.02</real>
	<real>-122.03</real>
	<real>-122.03</real>
	<real>-122.03</real>
	<real>-122.04000000000001</real>
	<real>-122.04000000000001</real>
	<real>-122.03</real>
</array>
</plist>
